<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>html 텍스트 반복</h1>
<!-- 변수 사용 -->
<!-- 변수, 반복문, 조건문 -->

<div th:with="name='유신브라더'">
    <div>안녕하세요 <span th:text="${name}">유신형</span>님</div>
    <div>안녕하세요 <span th:text="${name}">유신형</span>님</div>
    <div>안녕하세요 <span th:text="${name}">유신형</span>님</div>
    <div>안녕하세요 <span th:text="${name}">유신형</span>님</div>
    <div>안녕하세요 <span th:text="${name}">유신형</span>님</div>
</div>

<!-- 조건문 사용 -->

<div th:with="num = 11">
    <div th:if="${num % 2 != 0}">홀수</div>
    <div th:unless="${num % 2 != 0}">짝수</div>
</div>

<!-- 직접 인덱스 만들어서 사용하는 반복문 사용 -->
<div>
<div th:each="i : ${#numbers.sequence(1,10)}" th:text="${i}"></div>
</div>

<ul>
    <li>apple</li>
    <li>banana</li>
    <li>orange</li>
</ul>

<!-- controller에서 넘어온 데이터 사용 방법 -->

<div th:text="${myNumber}"></div>
<div th:text="${myName}"></div>
<div th:text="${fruitsList}"></div>

<h1>과일 리스트</h1>

<ul>
    <li th:each="fruit : ${fruitsList}" th:text="${fruit}"></li>
</ul>


</body>
</html>